@import '@fontsource/inter';
@import '@fontsource/source-code-pro';

:root {
  --docs-font: "Inter", sans-serif;
  --docs-code-font: "Source Code Pro", sans-serif;
  --docs-border-radius: 3px;
  --docs-secondary-color: rgb(250, 250, 250);
  --docs-info-color: rgb(29, 56, 59);
  --docs-border-radius: 4px;
  font-family: var(--docs-font);
}

h1 {
  font-size: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.2rem;
  margin-block: 0.5rem;
}

h4 {
  font-size: 1rem;
  margin-block: 0.25rem;
}

h5 {
  font-size: 0.9rem;
  margin-block: 0.2rem;
}

h6 {
  font-size: 0.8rem;
  margin-block: 0.1rem;
}

p {
  font-size: 0.95rem;
  margin-block: 0.1rem;
}

code {
  background-color: var(--docs-secondary-color);
  border: solid 0.1px lightgrey;
  border-radius: var(--docs-border-radius);
  color: black;
  font-family: var(--docs-code-font);
  font-size: 0.8rem;
  padding-inline: 4px;
}

pre,
blockquote {
  background-color: var(--docs-secondary-color);
  border: solid 0.1px lightgrey;
  border-radius: var(--docs-border-radius);
  margin-inline: 0px;
  padding: 1rem;
}

pre>code {
  border: none;
}

blockquote {
  background-color: var(--docs-info-color);
  color: white;
  font-size: 0.9rem;
}

blockquote>p>a {
  color: rgb(142, 193, 244);
}

table,
td {
  border: solid 0.1px;
  gap: 0px;
}

th {
  font-size: 0.9rem;
  text-align: left;
  margin: 0;

  padding: 2px;
}

.controls {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 25px;
  border: solid 0.1px lightgrey;
  padding-inline: 8px;
  padding-block: 4px;
  gap: 1.3rem;
}

.focus {
  position: relative;
  border: solid 0.1px lightgrey;
  border-radius: var(--docs-border-radius);
  min-height: 150px;
  margin-block: 1.5rem;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.max-w {
  max-width: 700px;
}

.box {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: var(--docs-border-radius);
  border: solid 0.1px lightgrey;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.gap {
  gap: 0.5rem;
}

.stretch {
  justify-content: stretch;
}

.margin-y {
  margin-block: 1rem;
}

button.primary {
  background-color: #1d1814;
  color: white;
}

button.secondary {
  background-color: var(--docs-secondary-color);
  border: solid 0.1px lightgrey;
  color: black;
  border-radius: var(--docs-border-radius);
}