@import "@fontsource/inter";
@import "@fontsource/source-code-pro";

:root {
  --docs-font: "Inter", sans-serif;

  --docs-code-background-color: #f1f1f1;
  --docs-code-color: black;
  --docs-code-font: "Source Code Pro", sans-serif;

  --docs-border-radius: 3px;
  --docs-secondary-color: rgb(250, 250, 250);
  --docs-info-color: rgb(29, 56, 59);
  --docs-border-radius: 4px;
  font-family: var(--docs-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: -10%;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: -5%;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 450;
  line-height: 2.4rem;
  letter-spacing: -2%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  word-spacing: -5%;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 5%;
}

h5 {
  font-size: 0.88rem;
  font-weight: 500;
  margin-block: 0.2rem;
  line-height: 1.35rem;
  letter-spacing: 5%;
}

h6 {
  color: darkslategray;
  font-size: 0.8rem;
  font-weight: 500;
  margin-block: 0.1rem;
  line-height: 1.2rem;
  letter-spacing: 5%;
}

p {
  font-size: 0.95rem;
  margin-block: 0.5rem;
  line-height: 1.425rem;
  letter-spacing: 5%;
  word-spacing: 3%;
}

blockquote {
  background-color: var(--docs-info-color);
  border-radius: var(--docs-border-radius);
  color: white;
  margin-inline: 0px;
  padding: 1.5rem;
}

blockquote > p > a {
  color: rgb(142, 193, 244);
}

blockquote > p > code {
  color: black;
}

table {
  border: solid 0.1px;
}

table,
td {
  border-radius: var(--docs-border-radius);
  gap: 0px;
}
thead {
  background-color: #f1f1f1;
}
th, tr {
  font-size: 0.9rem;
  text-align: left;
  margin: 0px;
  padding: 4px;
}

.controls {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 25px;
  border: solid 0.1px lightgrey;
  padding-inline: 8px;
  padding-block: 4px;
  gap: 1.3rem;
}

.focus {
  position: relative;
  border: solid 0.1px lightgrey;
  border-radius: var(--docs-border-radius);
  margin-block: 1.75rem;
  min-height: 150px;
}

.align {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.max-w {
  max-width: 575px;
}

.box {
  padding-block: 1.2rem;
  padding-inline: 1.5rem;
  border-radius: var(--docs-border-radius);
  border: solid 0.1px lightgrey;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  margin-block: 1rem;
}

.gap-large {
  gap: 1rem;
}

.stretch {
  justify-content: stretch;
}

.margin-y {
  margin-block: 2rem;
}

button.primary {
  background-color: #1d1814;
  color: white;
}

button.secondary {
  background-color: var(--docs-secondary-color);
  border: solid 0.1px lightgrey;
  color: black;
  border-radius: var(--docs-border-radius);
}

code {
  background-color: var(--docs-code-background-color);
  border-radius: var(--docs-border-radius);
  font-family: var(--docs-code-font);
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding-block: 0.1rem;
  padding-inline: 0.3rem;
}

pre[class*="language-"] {
  background-color: var(--docs-code-background-color);
  border: solid 0.1px lightgrey;
  border-radius: var(--docs-border-radius);
  color: var(--docs-code-color);

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  text-shadow: none;
  padding: 0.8rem;
  margin-block: 0.5rem;
}

pre[class*="language-"] > code {
  background-color: transparent;
  border: none;
  padding-inline: 0px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8a8a8a;
}

.token.attr-value,
.token.attr-value .token.punctuation,
.token.interpolation,
.token.string-property,
.token.string,
.style .token.string {
  color: rgb(37, 143, 37);
}

.token.atrule,
.token.keyword,
.token.important,
.token.deleted,
.language-css .token.property {
  color: blue;
}

.token.function {
  color: magenta;
}

.language-javascript,
.token .tag,
.token.operator {
  color: slateblue;
}

.token.tag .language-javascript,
.token.attr-name,
.token.literal-property {
  color: rgb(251, 0, 96);
}

.token.punctuation {
  color: darkslategray;
}

button.eminence {
  background-color: rgb(69, 19, 91);
  color: white;
}
button.eminence:hover {
  background-color: rgb(69, 30, 111);
}

button.zeus {
  background-color: #1d1814;
  color: white;
}

button.zeus:hover {
  background-color: rgb(25, 25, 25);
}

